/* Will be compiled down to a single stylesheet with your sass files */
@import 'bootstrap.css';

.greyed-out {
  color: #aaa;
}

.invalid-false {
    display: none;
}

.invalid-true {
    display: true;
}

.range-controls {
    margin-bottom: 20px;
}

.ng-invalid .ng-invalid { border:1px solid red; }