@import url(bootstrap.css);
/* Will be compiled down to a single stylesheet with your sass files */
/* line 4, ../../app/styles/main.scss */
.greyed-out {
  color: #aaa;
}

/* line 8, ../../app/styles/main.scss */
.invalid-false {
  display: none;
}

/* line 12, ../../app/styles/main.scss */
.invalid-true {
  display: true;
}

/* line 16, ../../app/styles/main.scss */
.range-controls {
  margin-bottom: 20px;
}

/* line 20, ../../app/styles/main.scss */
.ng-invalid .ng-invalid {
  border: 1px solid red;
}
