<table class="table">
  <thead>
    <th>Name</th>
    <th>Tag</th>
    <th>Price</th>
    <th>Date</th>
  </thead>
  <tfoot>
    <th></th>
    <th>Total spent:</th>
    <th>£{{totalPurchases()}}</th>
  </tfoot>
  <tbody ng-repeat="purchase in purchases | filter:search">
    <tr ng-show="false"></tr>
    <tr>
      <td>{{purchase.name}}</td>
      <td><span class="label">{{purchase.tags}}</span></td>
      <td>£{{purchase.price}}</td>
      <td>{{purchase.date.day}}/{{purchase.date.month}}/{{purchase.date.year}}</td>
    </tr>
  </tbody>
</table>
